
langchain 
python-dotenv
langchain_community
langchain_core
streamlit
mistralai
langchain_mistralai
sentence_transformers
pypdf
ipykernel
bs4
arxiv
pymupdf
wikipedia
langchain_text_splitters
langchain-openai
chromadb
langchain_huggingface
faiss-cpu
langchain_chroma

duckdb
pandas
openai
langchain_groq
langchain-groq
wikipedia
ddgs
mysql-connector-python
pymysql
SQLAlchemy
validators==0.28.1
youtube-transcript-api
pytube
unstructured
# chromadb==0.3.26
